/* 
    Document   : index
    Created on : 13-Jul-2014, 21:07:38
    Author     : Jonathan Perry
    Description: For use in index.jsp view        
*/

h1 {
    font-size: 60px;
}

p {
    font-size: 2em;
    font-weight: bold;
}

#content-wrapper span {
    padding-bottom: 3px;
    border-bottom: 2px solid #111;
}

/*      Index
*********************************/
#status {
    background-color: #EEE; /*#6C7A89;*/
    color: #111;
}
#history {
    
}
#history #sub-heading {
    background-color: #2ECC71;
    color: #EEE;    
    padding-top: 25px;
    padding-bottom: 25px;
}
#history #content {
    background-color: #C8F7C5;
    color: #111;
}
#context {
    
}
#context #sub-heading {
    background-color: #4B77BE; /* #3498db; */
    color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
}
#context #content {
    background-color: #89C4F4; /* #663399; */
    color: #111;
}