/* 
    Document   : index
    Created on : 13-Jul-2014, 21:07:38
    Author     : Jonathan Perry
    Description: For use in index.jsp view        
*/

h1 {
    font-size: 60px;
}

p {
    font-size: 2em;
    font-weight: bold;
}

#content-wrapper span {
    padding-bottom: 3px;
    border-bottom: 2px solid #111;
}

/*      Index
*********************************/
#status {
    background-color: #EEE; /*#6C7A89;*/
    color: #111;
}