/* 
    Document   : temperature
    Created on : 20-Aug-2014, 20:08:20
    Author     : Jonathan Perry
    Description: temperature.jsp
*/
#tabs-menu {
    padding-left: 8%;
    padding-right: 8%;
    background-color: #EEE;
}
#tabs { 
    padding: 0;
    background-color: #FFF;
}
#tabs li { 
    display: inline; 
}
#tabs li a {
    width: 30%;
    background: #111; 
    padding: 10px; 
    float: left;
    border-right: 1px solid #EEE; 
    border-bottom: none; 
    text-decoration: none;
    font-size: 24px;
    color: #FFF;
}
#tabs li a:hover {
    text-decoration: underline;
}
#tabs li.active a[id="cat-overview"] { 
    background: #FFF;
    color: #111;
}
#tabs li.active a[id="cat-weekdays"] { 
    background: #FFF; /* #4B77BE */
    color: #111;
}
#overview,
#weekdays {
    float: left;
    width: 100%;
    text-decoration: none;
}
#overview {
    min-height: 350px;
    background-color: #FFF;
}
#weekdays {    
    min-height: 350px;
}
/*  temperature overview
******************************************/
.temperature-overview {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*  Hostname 1 + 2 colour coding
*****************************************/
div.agents {
    color: #111;
    font-size: 24px;
    padding-bottom: 50px;
}
span.agent-1 {
    color: #3498DB;
    font-size: 24px;
}
span.agent-2 {
    color: #F22613;
    font-size: 24px;
}
#weekdays div:nth-child(odd) {
    background-color: #FFF;
}
#weekdays div:nth-child(even) {
    background-color: #EEE;
}