/* 
    Document   : overview
    Created on : 13-Jul-2014, 21:07:46
    Author     : Jonathan Perry
    Description:
        Purpose of the stylesheet follows.
*/

#tabs-menu {
    padding-left: 8%;
    padding-right: 8%;
}
#hmmm { 
    padding: 0;
    background-color: #FFF;
}
#hmmm li { 
    display: inline; 
}
#hmmm li a { 
    background: #111; 
    padding: 10px; 
    float:left; 
    border-right: 1px solid #ccf; 
    border-bottom: none; 
    text-decoration: none; 
    color: #FFF; 
    font-weight: bold;
}
#hmmm li.active a { 
    background: #FFF; 
    color: #111;
}

#menu li {
    float: left;
    width: 25%;
    height: 50px;
    margin-right: 3.3%;
    border: 1px solid #111;
}

#history {
    
}
#history #sub-heading {
    background-color: #2ECC71;
    color: #EEE;    
    padding-top: 25px;
    padding-bottom: 25px;
}
#history #content {
    background-color: #C8F7C5;
    color: #111;
}
#context {
    
}
#context #sub-heading {
    background-color: #4B77BE; /* #3498db; */
    color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
}
#context #content {
    background-color: #89C4F4; /* #663399; */
    color: #111;
}