/* 
    Document   : overview
    Created on : 13-Jul-2014, 21:07:46
    Author     : Jonathan Perry
    Description: 
*/

#tabs-menu {
    padding-left: 8%;
    padding-right: 8%;
    background-color: #EEE;
}
#tabs { 
    padding: 0;
    background-color: #FFF;
}
#tabs li { 
    display: inline; 
}
#tabs li a {
    width: 30%;
    background: #111; 
    padding: 10px; 
    float: left;
    border-right: 1px solid #EEE; 
    border-bottom: none; 
    text-decoration: none;
    font-size: 24px;
    color: #FFF;
}
#tabs li a:hover {
    text-decoration: underline;
}

#tabs li.active a[id="cat-1"] { 
    background: #F4D03F;
    color: #111;
}
#tabs li.active a[id="cat-2"] { 
    background: #CCC;
    color: #111;
}
#tabs li.active a[id="cat-3"] { 
    background: #4B77BE;
    color: #FFF;
}

#history,
#environment {
    float: left;
    width: 100%;
    text-decoration: none;
}
#history #sub-heading {
    background-color: #CCC; /* #6C7A89; */
    color: #111;    
    padding-top: 25px;
    padding-bottom: 150px;
}
#history #sub-heading h2 {
    margin-bottom: 100px;
}
#history #sub-heading p {
    font-size: 24px;
}
#history #content {
    background-color: #C8F7C5;
    color: #111;
}
#environment {
    width: 100%;
    text-decoration: none;
}
#environment #sub-heading {
    background-color: #4B77BE; /* #3498db; */
    color: #FFF;
    padding-top: 25px;
    padding-bottom: 150px;
}
#environment #sub-heading h2 {
    margin-bottom: 100px;
}
#environment #sub-heading p {
    font-size: 24px;
}
#context #content {
    background-color: #89C4F4; /* #663399; */
    color: #111;
}

#environment div:nth-child(odd) {
    background-color: #FFF;
}
#environment div:nth-child(even) {
    background-color: #CCC;
}