/* 
    Document   : main
    Created on : 12-Jun-2014, 20:25:42
    Author     : Jonathan Perry
    Description: The main JavaScript file for our Ambient Intelligence web application.
                 All code has been written with reusability in mind.
*/

body {
    background-color: #EEE;
}
#wrapper {
    
}
#menu {
    background-color: #111;
    width: 100%;
    height: 75px;
}