/* 
    Document   : main
    Created on : 12-Jun-2014, 20:25:42
    Author     : Jonathan Perry
    Description: The main JavaScript file for our Ambient Intelligence web application.
                 All code has been written with reusability in mind. Where appropriate, 
                 single identifiers have been used for clarity.
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEE;
    color: #111;
}
#wrapper {
    margin: 0 auto;    
}

/*      Menu
************************/
#menu {
    background-color: #FFF;
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 20px;
    height: 40px;
    color: #FFF;
}
#app-title {
    float: left;
    padding-right: 50px;
}
#app-title span a {
    font-size: 14px;
    color: #111;
    text-decoration: none;
}
#app-title span a:hover {
    border-bottom: 2px solid #111;
    padding-bottom: 3px;
    cursor: pointer;
}

/*      Navigation
***************************/
#nav  {
    float: left;
}
/*  for form input  */
button {
    font-size: 14px;
    color: #111;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    margin-right: 15px;
}
button:hover {
    border-bottom: 2px solid #111;
    padding-bottom: 3px;
    cursor: pointer;
}

/*      Content   
***********************/
#content-wrapper {
    width: 100%;
}
#content-wrapper #page-header {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 8%;
    padding-right: 8%;
    width: 84%;
    text-decoration: none;
}

/*      Overview (Section)
*********************************/
div.section {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 25px;
    padding-bottom: 25px;
    float: left;
    min-height: 500px;
}
div.section h2 {
    padding-bottom: 2px;
}
.temperature {
    background-color: #F4D03F;
}
.atmosphere {
    background-color: #EEE;    
}
.motion {    
    background-color: #BE90D4;
}

/*      Footer
*******************/
#footer {
    float: left;
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #EEE;
}