/* 
    Document   : main
    Created on : 12-Jun-2014, 20:25:42
    Author     : Jonathan Perry
    Description: The main JavaScript file for our Ambient Intelligence web application.
                 All code has been written with reusability in mind.
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEE;
    color: #111;
}
#wrapper {
    margin: 0 auto;    
}
#menu {
    background-color: #111;
    width: 100%;
    padding-top: 20px;
    height: 45px;
    color: #FFF;
}
#app-title {
    float: left;
    padding-left: 5%;    
    padding-right: 50px;
}
#app-title span a {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}
#app-title span a:hover {
    border-bottom: 2px solid #FFF;
    padding-bottom: 3px;
    cursor: pointer;
}
#nav  {
    float: left;
}
p {
    margin: 0;
    padding: 0;
}
button {
    font-size: 20px;
    color: #FFF;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    margin-right: 15px;
}
button:hover {
    border-bottom: 2px solid #FFF;
    padding-bottom: 3px;
    cursor: pointer;
}